<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <header>
        <strong>
            <p>Emergency Social Network [ESN] - 2024</p>
        </strong>
    </header>
    <main>
        <div>Login Page</div>
        <form method="POST" action="">
            <input type="email" name="email" placeholder="Enter your email here" required>
            <input type="password" name="password" placeholder="Enter your password here" required>
            <input type="submit" name="submit">
        </form>
    </main>
    <footer>
        <Strong>
            <p>
                Advanced Web System Development and Services &copy; MIS2024
            </p>
        </Strong>

    </footer>
</body>
</html>